.button{
  span,div,img{
    padding:0 4px;
  }
  &.red{
    background-color: #a41a1a;
    color:white;
  }
  &.green{
    background-color: #065817;
    color:white;
  }
  &.red_text{
    color:#a41a1a;
  }
  &.block{
    width: 100%;
  }
  cursor: pointer;
  border-radius: 6px;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  height: 36px;
  width: 120px;
  display:flex;
  align-content:center;
  align-items:center;
  justify-content:center;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 0 gray;

  &:hover{
    opacity: 0.8;
    transform: scale(0.98);
  }
  &:active{
    box-shadow: 0 0 20px gray;
  }
}